@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* @import './base.css'; */
@import 'tailwindcss/utilities';

@font-face {
    font-family: "courier";
    src:url('../public/assets/courier.ttf');
   }

:root {
    --bg-eggshell: #EEEAE5;
  }

html {
  scroll-behavior: smooth;
}

